// video mixin
.video-mixin {
    .video-mixin__thumb {
        height: 140px;
        width: 100%;
        background-color: ivory;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .video-mixin__data {
        padding: 0 15px;
        .video-mixin__title {
            font-size: 18px;
            margin-top: 10px;
            display: block;
        }
        .video-mixin__meta  {
            margin-top: 10px;
            font-size: 12px;
        }
    }
}